<!DOCTYPE html>
<html ng-app="smileMakersModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <base href="/">
    <style>
        .form-control {
            max-width: 100% !important;
        }

        .checkbox {
            margin-right: 20px;
            float: left;
        }

            .checkbox + .checkbox {
                margin-top: 10px !important;
            }
    </style>
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.11.2.js"></script>
    <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
    <script src="~/Scripts/respond.js" type="text/javascript"></script>
    <script src="~/Scripts/PDFMake/pdfmake.min.js" type="text/javascript"></script>
    <script src="~/Scripts/PDFMake/vfs_fonts.js" type="text/javascript"></script>
</head>
<body>
    <h1>Smile Makers Dental Care</h1>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/Angularjs/module.js" type="text/javascript"></script>
    <script src="~/Scripts/Angularjs/services.js" type="text/javascript"></script>
    <script src="~/Scripts/Angularjs/prescriptionController.js" type="text/javascript"></script>
    <script src="~/Scripts/Angularjs/consultationController.js" type="text/javascript"></script>
    <script src="~/Scripts/Angularjs/showAppointmentsController.js" type="text/javascript"></script>
</body>
</html>