<script type="text/javascript">
    $('.clockpicker').clockpicker()
        .find('input').change(function () {
            console.log(this.value);
        });


    if (/mobile/i.test(navigator.userAgent)) {
        $('input').prop('readOnly', true);
    }
</script>



<div ng-controller="prescriptionController">
    <div class="row" style="margin: 30px 0px">
        <div class="col-xs-12 text-center">
            <h3 ng-show="!Update" class="buxton-sketch">Write new prescription for</h3>
            <h3 ng-show="Update" class="buxton-sketch">Update prescription for {{Patient}}</h3>
            <div class="row" ng-show="!Update">
                <div class="col-xs-4 center-block">
                    <input type="text" class="form-control" ng-model="PatientID" typeahead="patient as patient.name + ' (' + patient.contact + ')' for patient in patients | filter:{name:$viewValue}" style="margin-top:20px" /> <br />
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Prescription date" readonly />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>  
        </div>
    </div>
    <div class="row" style="margin-bottom:100px">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <textarea class="form-control" placeholder="Oral examination" ng-model="OralExam"></textarea><br />
            <textarea class="form-control" placeholder="Medical history" ng-model="MedHistory"></textarea><br />
            <textarea class="form-control" placeholder="Investigation" ng-model="Investigation"></textarea><br />
            <textarea class="form-control" placeholder="Advice" ng-model="Advice"></textarea><br />

            <div class="row">
                <div class="col-xs-12">
                    <input type="button" class="btn btn-success" value="Save prescription and add treatments" ng-click="save()" ng-show="!Update" />
                    <input type="button" class="btn btn-success" value="Update prescription and add treatments" ng-click="update()" ng-show="Update" />
                    <input type="button" class="btn btn-danger" value="Open prescription in PDF" ng-click="pdfView()" />
                </div>
            </div>
            
        </div>
        <div class="col-xs-3"></div>  
        <!--input type='text' class="form-control datepicker" readonly placeholder="Select appointment date" style="cursor:pointer" ng-model="AppointmentDate" /-->
    </div>
</div>