@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker({
            numberOfMonths: 3,
            dateFormat: "dd-mm-yy",
            showButtonPanel: true
        });
    });
</script>
<script type="text/javascript">
    $('.clockpicker').clockpicker()
        .find('input').change(function () {
            console.log(this.value);
        });


    if (/mobile/i.test(navigator.userAgent)) {
        $('input').prop('readOnly', true);
    }
</script>

<div class="" ng-controller="consultationController">
    <div>
        <div class="row" style="margin: 30px 0px">
            <div class="col-xs-12 text-center">
                <h3 ng-show="!Update" class="buxton-sketch">Add new consultation</h3>
                <h3 ng-show="Update" class="buxton-sketch">Update consultation</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 center-block">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="ConsultDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Coonsultation date" readonly />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <input type="text" class="form-control" placeholder="Amount paid" ng-model="AmountPaid" /><br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 center-block">
                <div class="row">
                    <div class="col-xs-7">
                        <input type="button" class="btn btn-success" value="Save consultation and add treatments" ng-click="save()" ng-show="!Update" />
                        <input type="button" class="btn btn-success" value="Update consultation and add treatments" ng-click="update()" ng-show="Update" />
                    </div>
                </div>
            </div>            
        </div>
    </div>

</div>
