@font-face {
	font-family: 'BuxtonSketch';
	src: url('./fonts/BuxtonSketch.eot');
	src: local('BuxtonSketch'), url('./fonts/BuxtonSketch.woff') format('woff'), url('./fonts/BuxtonSketch.ttf') format('truetype');
}
                
.buxton-sketch {
	font-family: 'BuxtonSketch' !important;
}

html {
    width: 100%; height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%; height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.menu-buttons {
    font-size: 20px;
    height: 70px;
    width: 70px;
}

.panel-buttons {
    position:absolute; top:15px; right:15px; z-index:100;
}

.center-block {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

.treatment-teeth {
    float:left;
    width:100px;
}